@charset "utf-8";
/* CSS Document */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}



img {
  border: black 2px solid;
  
}


h1{
  color:black;
	text-align: center;
}

p{

 font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size:20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

ul{
 color:black;
 font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 20px;
	text-align: left;
}

.pie {
  background-color: red;
  color: black;
  padding: 10px;
	font-size: 15px;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
	
}


body{
  background-color:sandybrown;
  color: black;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

table{
	 font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size:20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

